<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServicedApi.CodeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ServicedApi.CodeGenerator.Properties.Settings>
            <setting name="_servicedApiXmlFileTextBox_Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="_outputPathRootTextBox_Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="_generatorPluginComboBox_Selected" serializeAs="String">
                <value/>
            </setting>
            <setting name="_stopOnGenerationErrorsCheckBox_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_showGenerationResultsWindowCheckBox_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_enableTemplateDebuggingCheckBox_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_runGeneratorSynchronouslyCheckBox_Checked" serializeAs="String">
                <value>False</value>
            </setting>
        </ServicedApi.CodeGenerator.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <!-- TODO: This feels like SUCH a hack.  Maybe we can dynamically load all types in /plugins/** at startup? -->
            <probing privatePath="plugins;plugins\org.ncore.ServicedApi.CodeGenerator.Plugins.StaticSvcLinqToSql"/>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
